In [7]:
!sudo apt-get -y install python3-blockdiag

E: Could not get lock /var/lib/dpkg/lock - open (11: Resource temporarily unavailable)
E: Unable to lock the administration directory (/var/lib/dpkg/), is another process using it?

In [1]:
import pandas as pd
import numpy as np

np.__version__
# '1.10.1'

pd.__version__
# u'0.17.1'

np.random.seed(1)

df = pd.DataFrame({'name': list('abcdefg'),
                   'values1': np.random.randn(7), 
                   'values2': np.random.randn(7)})
df

  name   values1   values2
0    a  1.624345 -0.761207
1    b -0.611756  0.319039
2    c -0.528172 -0.249370
3    d -1.072969  1.462108
4    e  0.865408 -2.060141
5    f -2.301539 -0.322417
6    g  1.744812 -0.384054

In [2]:
type(df.style)
# pandas.core.style.Styler

df.style.background_gradient(cmap='winter')